---
import Layout from "../layouts/BaseLayout.astro";

const links = [
  {
    name: "GitHub",
    icon: "i-mdi-github",
    url: "https://github.com/Yixuan-Wang",
  },
  {
    name: "Twitter",
    icon: "i-mdi-twitter",
    url: "https://twitter.com/tom_yixuan_wang",
  },
  {
    name: "Bluesky",
    icon: "i-custom-bluesky",
    url: "https://bsky.app/profile/tomyxw.bsky.social",
  },
  {
    name: "Mastodon",
    icon: "i-mdi-mastodon",
    url: "https://sigmoid.social/@tom_yixuan_wang",
  },
  {
    name: "LinkedIn",
    icon: "i-mdi-linkedin",
    url: "https://www.linkedin.com/in/yixuan-wang-196b60253/",
  },
];
---

<Layout title="Yixuan Wang">
  <div class="flex max-w-65ch flex-col sm:flex-row-reverse items-start gap-4">
    <div>
      <div class="relative flex-shrink w-[128px] h-[128px]">
        <img id="avatar" class="rounded-full" src="me.webp" alt="Yixuan Wang's photo">
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col items-start sm:(justify-self-end items-end)">
        <h1 class="font-bold text-3xl leading-none pb-1">
          <span class="text-accent-800 @dark:text-accent-200">Yixuan <span class="font-normal lt-sm:text-xl">“Tom”</span></span>
          Wang
        </h1>
        <span>王<span class="text-accent-800 @dark:text-accent-200">奕轩</span></span>
      </div>
      <div class="sm:self-end flex flex-row w-fit gap-2 text-2xl">
        {links.map(({ icon, url }) => <a
          class="text-accent-600 @dark:text-accent-400 @hover:text-accent-500 cursor-pointer"
          href={url}
          rel="noopener noreferrer"
          target="_blank"
        >
          <div class={icon}></div>
        </a>)}
      </div>
      <p class="grid-col-[1] flex flex-col font-serif sm:text-end">
        Yixuan Wang is currently a student.
      </p>
    </div>
  </div>
	<Fragment slot="footer">
		<div class="flex flex-col place-items-center">
			<div class="i-mdi-sign-caution text-xl"></div>
			<span class="font-mono underline underline-dotted">under construction</span>
		</div>
	</Fragment>
</Layout>

<style>
:root {
  @apply use-accent-ocean;
}
</style>
