---
import CardTitle from "./CardTitle.astro";
import { getCollection } from "astro:content";
import PublicationEntry from "./PublicationEntry.astro";

const rawPublications = await getCollection("publications");
---

<section
  id="publications"
  data-nav="publications"
  class="card flex flex-col gap-2"
>
  <CardTitle icon="i-mdi:document" title="Publication" />
  <div class="flex flex-col gap-3">
    {
      rawPublications.map(({ data }) => (
        <PublicationEntry key={data.id} entry={data} />
      ))
    }
  </div>
</section>

