---
import CardTitle from "@/src/components/CardTitle.astro";
---

<section
  id="blog"
  data-nav="blog"
  class="card flex flex-col gap-2"
>
  <CardTitle icon="i-mdi:circle" title="Blog" /> 
  <p class="font-serif">
    For more writings, check out my blog, <a id="blog-link" class="font-bold colorful" href="https://blog.yixuan-wang.site/academia">Pak</a>.
  </p>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('fun')) {
      document.addEventListener('DOMContentLoaded', () => {
        const blogLink = document.getElementById('blog-link') as HTMLAnchorElement;
        blogLink.href = 'https://blog.yixuan-wang.site';
      });
    }
  </script>
</section>
