<section
  id="blog"
  data-nav="blog"
  class="card flex flex-col gap-2"
>
  <h2 class="text-xl font-bold inline-flex gap-1 place-items-center">
    <div class="i-mdi-circle"></div>
    <span>Blog</span>
  </h2>
  <p class="font-serif">
    For more writings, check my blog, <a class="font-bold" href="https://blog.yixuan-wang.site">Pak</a>.
    You can also check out my <a href="https://blog.yixuan-wang.site/academia">academic posts</a>, or posts on <a href="https://blog.yixuan-wang.site/category/comp">computer science</a> and <a href="https://blog.yixuan-wang.site/category/ling">linguistics</a>.
  </p>
</section>
