---
interface Props {
  title: string
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head">
      <meta name="description" content="Yixuan Wang's homepage.">
    </slot>
  </head>
  <body class="h-[100svh] w-[100svw] px-6 py-4 flex flex-col justify-stretch items-center">
    <header>
      <slot name="header">
      </slot>
    </header>
    <div class="flex-1"></div>
    <main class="contents">
      <slot />
    </main>
    <div class="flex-1"></div>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>

<style is:global>
html {
  @apply bg-accent-100 @dark:bg-accent-900 text-plain;
}
</style>